*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 400px;
    margin: 50px auto;
}
.cards1{
    width: 180px;
    height: 250px;
    border: 5px solid black;
    left: 150px;
    top: 150px;
    background-color: red;
    position: absolute;
    z-index: 1;
}
.cards2{
    width: 180px;
    height: 250px;
    border: 5px solid black;
    left: 190px;
    top: 190px;
    background-color: yellow;
    position: absolute;
    z-index: 2;
}
.cards3{
    width: 180px;
    height: 250px;
    border: 5px solid black;
    left: 230px;
    top: 230px;
    background-color: blue;
    position: absolute;
    z-index: 3;
}
.cards4{
    width: 180px;
    height: 250px;
    border: 5px solid black;
    left: 270px;
    top: 270px;
    background-color: beige;
    position: absolute;
    z-index: 4;
}
.cards5{
    width: 180px;
    height: 250px;
    border: 5px solid black;
    left: 310px;
    top: 310px;
    background-color: purple;
    position: absolute;
    z-index: 5;
}
.cards6{
    width: 180px;
    height: 250px;
    border: 5px solid black;
    left: 350px;
    top: 350px;
    background-color: grey;
    position: absolute;
    z-index: 6;
}